* {
    margin: 0;
    padding: 0;
}


/*container1*/
.container1 {
    height: 50vh;
    width: 50%;
    left: 0;
    background-color: transparent;
    position: relative;
}


.outside_box {
    height: 50vh;
    width: 18vh;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3d405b;
    border: solid 4px black;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

}

.light_box {
    height: 33%;
    width: auto;
    margin: 3px;
    background-color: #3d405b;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    position: relative;
}

.light {
    width: 70%;
    height: 70%;

    z-index: 77;
}

#red {
    background-color: red;
    box-shadow: 0px 0px 15px 8px red insert;
}

#yellow {
    background-color: yellow;
    box-shadow: 0px 0px 15px 8px yellow insert;
}

#green {
    background-color: green;
    box-shadow: 0px 0px 15px 8px green insert;
}

#red.light.active {
    background-color: #ef233c;
    box-shadow: 0px 0px 15px 8px red;
}

#yellow.light.active {
    background-color: #ffe66d;
    box-shadow: 0px 0px 15px 8px yellow;
}

#green.light.active {
    background-color: green;
    box-shadow: 0px 0px 15px 8px green;
}

.light_top {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #565264;
    border: 1px solid black;
    position: absolute;
    top: 15px;
    z-index: 8;
}

.box_border {
    height: 51.vh;
    width: 19vw;
    background-image: linear-gradient(to to, #22223b, #4a4e69);
    position: absolute;
    top: 19.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.post {
    height: 50vh;
    width: 50px;
    position: absolute;
    bottom: -300px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    background-color: #3d405b;
    border: solid 3px black;
    box-shadow: 0px 0px 20px 3px black insert;
}



.outside_box {
    height: 50vh;
    width: 18vh;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3d405b;
    border: solid 4px black;
    box-shadow: 0px 0px 20px 3px black inset;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

}

.light_box {
    height: 33%;
    width: auto;
    margin: 3px;
    background-color: #3d405b;
    border: solid 1px black;
    box-shadow: 0px 0px 20px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    position: relative;
}

.light {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    z-index: 77;
}

#red {
    background-color: red;
    box-shadow: 0px 0px 15px 8px red insert;
}

#yellow {
    background-color: yellow;
    box-shadow: 0px 0px 15px 8px yellow insert;
}

#green {
    background-color: green;
    box-shadow: 0px 0px 15px 8px green insert;
}

#red.light.active {
    background-color: #ef233c;
    box-shadow: 0px 0px 15px 8px red;
}

#yellow.light.active {
    background-color: #ffe66d;
    box-shadow: 0px 0px 15px 8px yellow;
}

#green.light.active {
    background-color: green;
    box-shadow: 0px 0px 15px 8px green;
}

.light_top {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #565264;
    border: 1px solid black;
    position: absolute;
    top: 15px;
    z-index: 8;
}

.box_border {
    height: 51.vh;
    width: 19vw;
    background-image: linear-gradient(to to, #22223b, #4a4e69);
    position: absolute;
    top: 19.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.post {
    height: 50vh;
    width: 50px;
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3d405b;
    border: solid 3px black;
    box-shadow: 0px 0px 20px 3px black insert;
}

.post_shadow {
    height: 5vh;
    width: 5vh;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px 3px black;
}

/*container2*/
.containe2 {
    height: 50vh;
    width: 50%;
    left: 50%;
    top: -20pc;
    background-color: transparent;
    position: relative;

}

.outside_box1 {
    height: 50vh;
    width: 18vh;
    position: absolute;
    top: 20vh;
    right: 50%;
    transform: translateX(-50%);
    background-color: #3d405b;
    border: solid 4px black;
    box-shadow: 0px 0px 20px 3px black inset;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

}

.light_box1 {
    height: 33%;
    width: auto;
    margin: 3px;
    background-color: #3d405b;
    border: solid 1px black;
    box-shadow: 0px 0px 20px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    position: relative;
}

.light1 {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    z-index: 77;
}

#red1 {
    background-color: red;
    box-shadow: 0px 0px 15px 8px red insert;
}

#yellow1 {
    background-color: yellow;
    box-shadow: 0px 0px 15px 8px yellow insert;
}

#green1 {
    background-color: green;
    box-shadow: 0px 0px 15px 8px green insert;
}

#red1.light1.active {
    background-color: #ef233c;
    box-shadow: 0px 0px 15px 8px red;
}

#yellow1.light1.active {
    background-color: #ffe66d;
    box-shadow: 0px 0px 15px 8px yellow;
}

#green1.light1.active {
    background-color: green;
    box-shadow: 0px 0px 15px 8px green;
}

.light_top1 {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #565264;
    border: 1px solid black;
    position: absolute;
    top: 15px;
    z-index: 8;
}

.box_border1 {
    height: 51.vh;
    width: 19vw;
    background-image: linear-gradient(to to, #22223b, #4a4e69);
    position: absolute;
    top: 19.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.post1 {
    height: 50vh;
    width: 50px;
    position: absolute;
    bottom: -300px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    background-color: #3d405b;
    border: solid 3px black;
    box-shadow: 0px 0px 20px 3px black insert;
}

.post_shadow1 {
    height: 5vh;
    width: 5vh;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px 3px black;
}

.lab1 {
    position: absolute;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 15%;
    left: 21%;
}

.lab2 {
    position: absolute;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 15%;
    left: 62.4%;
}

#compteur {
    position: absolute;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 46%;
    left: 46%;
    transform: translate(-50%, -50%);
}